In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/processed/landings_processed.csv')
df.head()

   Year                          Port  Millions of Pounds State
0  2017              Dutch Harbor, AK               768.7    AK
1  2017  Aleutian Islands (Other), AK               552.3    AK
2  2017                    Kodiak, AK               530.4    AK
3  2017                 Reedville, VA               319.9    VA
4  2017     Pascagoula-Moss Point, MS               301.3    MS

In [3]:
ports = {}
def compile_ports(row):
    if(str(row['Port']) in ports):
        ports[str(row['Port'])] += 1
    else:
        ports[str(row['Port'])] = 1

In [10]:
ne = ['ME', 'NH', 'MA', 'RI', 'CT']
south_atl = ['NC', 'SC', 'GA', 'FL']
mid_atl = ['MD', 'VA', 'NJ', 'NY', 'NJ', 'DE']
gulf = ['TX', 'LA', 'MS', 'AL', 'FL']
combo = ['ME', 'NH', 'MA', 'RI', 'CT', 'NJ', 'NY', 'DE', 'MD', 'VA', 'NC', 'SC', 'GA', 'TX', 'LA', 'MS',
         'AL', 'FL']

ne_set = set(ne)
mid_atl_set = set(mid_atl)
south_atl_set = set(south_atl)
gulf_set = set(gulf)
combo_set = set(combo)

In [11]:
df_combo = df[df['State'].isin(combo_set)]
df_gulf = df[df['State'].isin(gulf_set)]
df_south_atl = df[df['State'].isin(south_atl_set)]
df_mid_atl = df[df['State'].isin(mid_atl_set)]
df_ne = df[df['State'].isin(ne_set)]
print(str(len(df_gulf.index)) + ', ' + str(len(df_south_atl.index)) + ', ' + str(len(df_mid_atl.index)) + ', ' + str(len(df_ne.index)))

958, 500, 430, 433