In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
df = pd.read_csv('data/processed/filtered_ports.csv')
norcal = ['Crescent City, CA', 'San Francisco Area, CA', 'Monterey, CA']
socal = ['Los Angeles, CA', 'Monterey, CA', 'San Diego, CA']
norcal = set(norcal)
socal = set(socal)

def assign_cal_region(row):
    if(row['State'] == 'CA'):
        if(row['Port'] in norcal):
            return 'CAN'
        else:
            return 'CAS'
    return row['State']

df['State'] = df.apply(lambda x: assign_cal_region(x), axis=1)

In [3]:
def assign_region_id(row):
    if(row['State'] == 'CAN'):
        return 6
    elif(row['State'] == 'CAS'):
        return 7
    return row['Region']

df['Region'] = df.apply(lambda x: assign_region_id(x), axis=1)

In [4]:
gulf_temp = pd.read_csv('data/temp/avg_yearly_gulf.csv')
south_atl_temp = pd.read_csv('data/temp/avg_yearly_south_atl.csv')
mid_atl_temp = pd.read_csv('data/temp/avg_yearly_mid_atl.csv')
ne_temp = pd.read_csv('data/temp/avg_yearly_ne.csv')
ak_temp = pd.read_csv('data/temp/avg_yearly_ak.csv')
nw_temp = pd.read_csv('data/temp/avg_yearly_nw.csv')
norcal_temp = pd.read_csv('data/temp/avg_yearly_norcal.csv')
socal_temp = pd.read_csv('data/temp/avg_yearly_socal.csv')

def apply_temp_values(row):
    if(row['Region'] == 0):
        return gulf_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 1):
        return south_atl_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 2):
        return mid_atl_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 3):
        return ne_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 4):
        return ak_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 5):
        return nw_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 6):
        return norcal_temp['avg_yearly_temp'][row['Year'] - 1980]
    elif(row['Region'] == 7):
        return socal_temp['avg_yearly_temp'][row['Year'] - 1980]
    else:
        return math.nan

In [5]:
df['Temp'] = df.apply(lambda x: apply_temp_values(x), axis=1)
df.to_csv('data/processed/filtered_ports_with_temp.csv', index=False)

   Year                         Port  Yield State  Region  Port_ID       Temp
0  1981  Brownsville-Port Isabel, TX   28.0    TX       0        0  21.083722
1  1982  Brownsville-Port Isabel, TX   19.0    TX       0        0  21.838193
2  1983  Brownsville-Port Isabel, TX   21.0    TX       0        0  22.162636
3  1984  Brownsville-Port Isabel, TX   23.0    TX       0        0  21.856949
4  1985  Brownsville-Port Isabel, TX   22.9    TX       0        0  21.438654