In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/processed/landings_processed.csv')
df.head()

   Year                          Port  Millions of Pounds State
0  2017              Dutch Harbor, AK               768.7    AK
1  2017  Aleutian Islands (Other), AK               552.3    AK
2  2017                    Kodiak, AK               530.4    AK
3  2017                 Reedville, VA               319.9    VA
4  2017     Pascagoula-Moss Point, MS               301.3    MS

In [10]:
ports = df['Port'].unique()
df_ports = pd.DataFrame(ports)
df_ports.to_csv('data/ports/ports.csv', index=False)

In [15]:
def strip_state(row):
    return row['ports'][:row['ports'].index(', ')]
df_ports.columns = ['ports']
df['Port'] = df_ports.apply(lambda row: strip_state(row), axis=1)

In [18]:
df.to_csv('data/ports/ports.csv', index=False)